body {
  font-family: Arial, sans-serif;
  background: #f4f4f4;
}

.container {
  width: 400px;
  margin: 80px auto;
  background: white;
  padding: 20px;
  border-radius: 10px;
}

h1 {
  text-align: center;
}

input {
  width: 70%;
  padding: 8px;
}

button {
  padding: 8px;
  background: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}

li {
  list-style: none;
  padding: 8px;
  display: flex;
  justify-content: space-between;
}

.completed {
  text-decoration: line-through;
  color: gray;
}